body{
	margin: 0px;
}
#main{
	width: 1800px;
	margin-left: auto;
	margin-right: auto;
}
a{
	color: #fff;
	text-decoration-line:  none;
}
.remove{
	width: 150px;
	height: 600px;
	background: pink;
	position: fixed; 
	top: 250px;
	right: 0;
}
.remove>div:nth-of-type(1){
	height: 300px;
}
.remove>.kefu{
	height: 200px;
	background: #e2d76e;
	position: relative;
	
}
/*二级项*/
.remove>.kefu a{
	
	font-size: 20px;
	color: #fff;
	line-height: 200px;
	margin-left: 50px;

}
.remove>.kefu div{
	width: 500px;
	height: 500px;
	right: 200px;
	text-align: center;
	line-height: 500px;
	color: #fff;
	font-size: 50px;
	top: 0;
	position: absolute;
	background: #e2d76e;
	display: none;
}

.remove>.kefu:hover>a{
	display: block;
	color: #60cbe6;
}
.remove>.kefu:hover>div{
	display: block;
	
}

/*头部导航*/
.topbackground{
	background: #333;

}
.topbackground::after{
	content: "";
	display: block;
	clear: both;
}
/*.topbackground>frist-child{
	padding-left: 20px;
}*/
ul{
	margin: 0;
}
li{
	list-style: none;
}

.left{
	width: 600px;
	float: left;
	line-height: 3em;
	padding-left: 20px;
}

.topbackground>last-child{
	width: 600px;
	float: right;

}
.topbackground li{
	float:right;
	line-height: 3em;
}
.topbackground li a{
	display: inline-block;
	width: 80px;
	line-height: 1em;
	border-right: 1px solid #ededed;
	text-align: center;
	
}
/*搜索栏*/
.search-background{
	background: #fff;
	overflow: hidden;
}
.search-background div{
	width: 210px;
	height: 150px;
	background: #fff; 
	overflow: hidden;
}

.logo{
	margin-left: 120px;
	float: left;
}
/*搜索框*/
.logo+div{
	width: 1140px;
	height: 150px;
	float: left;
	background: #fff;
}
/*中间框*/
.search-box{
	overflow: hidden;
}
.search-box [type=text]{
	height: 50px;
	width: 500px;
	border: 1px solid #b4a078;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	margin-left:200px;
	margin-top: 50px;
	float: left;

}
.search-box >[type=submit]{
	height: 54px;
	width: 100px;
	background: #b4a078; 
	border: 1px solid #b4a078;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	margin-top: 50px; 
	float: left;
	color: #fff;
	font-size: 16px;
}

.search-background .cart{
	height: 50px;
	line-height: 50px;
	width: 200px;
	margin-right: 100px;
	color: #b4a078;
	font-size: 14px;
	text-align: center;
	float: left;
	border-radius: 50px;
	border: 1px solid #b4a078;
	margin-top: 50px;
}
/*导航栏*/
.nav .top-nav::after {
	content: "";
	display: block;
	clear: both;
	
}
.nav .top-nav{
	position: relative;
}
.nav a{
	font-size: 18px;
	color: #333;
	/*float: left;
	width: 200px;*/
	display: inline-block;
	line-height: 3em;
	/*text-align: center;*/
	box-sizing: border-box;
	font-weight: bold;

	
}
.nav .top-nav li{
	float: left;
	width: 200px;
	text-align: center;
}
/*弹出框*/
.top-nav div{
	font-size: 50px;
	line-height: 500px;
	color: red;
	position: absolute;
	left: -20px;
	right: -20px;
	height: 500px;
	top:100%;
	background: #ededed;
	display: none;
	z-index: 3;
}

.nav li:hover>a{
	color:#b4a078; 
	border-bottom: 2px solid #b4a078;

}
.top-nav li:hover>div{
	display: block;
}

/*图片广告*/
.pic{
	height: 600px;
	background: #f5e8e0;
	position: relative;
}
.pic img{
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	float: left;
	position: absolute;
	animation-name: run;
	animation-duration: 15s;
	animation-iteration-count: infinite;

}
.pic img:nth-of-type(2){
	left: -1800px;
}
.pic img:nth-of-type(3){
	left: -3600px;
}
.pic img:nth-of-type(4){
	left: -5400px;
}
.pic img:nth-of-type(5){
	left: -7200px;
}
/*.pic img:nth-of-type(5){
	left: -9000px;
}*/
@keyframes run{
	0%{
		margin-left:0;
	}
	15%{
		margin-left: 0px;
	}
	25%{
		margin-left: 1800px;
	}
	40%{
		margin-left: 1800px;
	}
	50%{
		margin-left: 3600px;
	}
	65%{
		margin-left: 3600px;
	}
	75%{
		margin-left: 5400px;
	}
	90%{
		margin-left: 5400px;
	}
	100%{
		margin-left: 7200px;
	}
}

/*品牌制造商*/
.zhizao-backgroung{
	height: 600px;
	background: #ffffff;
}
.more{
	margin-left: 95px;
	margin-right: 95px;
	height: 120px;

}
.more>ul a:hover{
	color:#b4a078; 
}
.more>span:first-child{
	font-size: 30px;
	margin-top: 50px;
}
.more>span:nth-of-type(2){
	font-size: 16px;
	margin-top: 64px;
	margin-left: 10px;
}
.more>span:last-child{
	font-size: 16px;
	float: right;
	margin-top: 64px;
}
.small-pic li{
	width: 530px;
	height: 480px;
	background: #fafdfd;
	float: left;
}
.small-pic li:nth-of-type(1){
	margin-right: 10px;
	margin-left: 95px;
}
.small-pic li:nth-of-type(2){
	margin-right: 10px;
}
.small-pic li:nth-of-type(3){
	height: 235px;
	margin-bottom: 10px;
	margin-right: 95px;
	
}
.small-pic li:last-child{
	height: 235px;
	margin-right: 95px;
	}

.small-pic li:hover>img{
	box-shadow: 0 0 8px #ededed;
}
/*新品首发*/
.new-backgroung{
	height: 800px;
	/*background: pink;*/
	margin-bottom: 30px;
}
.new-backgroung::after{
	content: "";
	display: block;
	clear: both;
}
.new-small-pic>li{
	width: 395px;
	height: 600px;
	/*background: #f4f4f4;*/
	float: left;
}
.new-small-pic>li{
	margin-right: 10px;
}
.new-small-pic>li:first-child{
	margin-left: 95px;
}

.new-small-pic>li:last-child{
	margin-right: 95px;
	
}
/*新品首发二级标签*/
.new-small-pic ul>li:first-child{
	height: 390px;
	background: #fff;
}
.new-small-pic ul>li:last-child{
	height: 130px;
}
/*满折*/
.new-small-pic  span:first-child{
	background: #cc6633;
	display: inline-block;
	color: #fff;
	height: 35px;
	line-height: 35px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	margin-left: 120px;
	margin-top: 20px;
	float: left;
}
.new-small-pic .one span:first-child{
	background: #cc6633;
	display: inline-block;
	color: #fff;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	margin-left: 150px;
	margin-top: 30px;
	float: left;
}
.new-small-pic li:hover>img{
	box-shadow: 0 0 8px #ededed;
}
/*App特惠*/

.new-small-pic .one span:nth-of-type(2){
	/*background: #cc6633;
	width: 4em;
	font-size: 16px;
	display: inline-block;
	color: #ffcc66;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	margin-left: 40px;
	margin-top: 30px;*/
	float: left;
}
.new-small-pic  span:nth-of-type(2){
	font-size: 20px;
	display: inline-block;
	height: 35px;
	/*width: 330px;*/
	line-height: 35px;

}
.new-small-pic .one span:nth-of-type(3){
	font-size: 20px;
	display: inline-block;
	height: 50px;
	width: 400px;
	line-height: 50px;
}
/*价格*/
.new-small-pic  span:last-child{
	font-size: 20px;
	color: #d4282d;
	display: block;
	margin-left:120px;

}
.new-small-pic .one span:last-child{
	font-size: 20px;
	color: #d4282d;
	display: block;
	margin-left:150px;

}
/*人气推荐*/
.recommened-backgroung{
	height: 1045px;
	background: #f4f0ea;
	
}
.recommened-small-pic::after{
	content: "";
	display: block;
	clear: both;
}
.recommened-small-pic>li{
	width: 330px;
	height: 390px;
	float: left;
	/*background: #abbdcb;*/
	margin-right: 10px;

}
.recommened-small-pic>li:nth-of-type(1){
   width: 590px;
   height: 790px;
   margin-left: 95px;
   margin-bottom: 0;
   
}


.recommened-small-pic >li:nth-of-type(3),.recommened-small-pic >li:nth-of-type(2),.recommened-small-pic >li:nth-of-type(4){
  margin-bottom: 10px;
}
.recommened-small-pic >li:nth-of-type(4),.recommened-small-pic >li:nth-of-type(7){
	margin-right: 95px;
}
/*人气推荐的内模块*/
.recommened-small-pic li ul{
	padding: 0;
}

.recommened-small-pic ul>li:first-child{
	height: 265px;
	background: #fff;
	margin-bottom: 5px;
}
.recommened-small-pic ul>li:last-child{
	height: 120px;
	background: #fff;
	
}
.recommened-small-pic .one > li:first-child{
   height: 600px;
}
.recommened-small-pic .one > li:last-child{
   height: 185px;
}
/*满折*/
.recommened-small-pic  span:first-child{
	background: #cc6633;
	display: inline-block;
	color: #fff;
	height: 35px;
	line-height: 35px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	margin-left: 120px;
	margin-top: 20px;
	float: left;
}
.recommened-small-pic .one span:first-child{
	background: #cc6633;
	display: inline-block;
	color: #fff;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	margin-left: 220px;
	margin-top: 30px;
	float: left;
}
/*App特惠*/
.recommened-small-pic  span:nth-of-type(2){
	font-size: 20px;
	display: inline-block;
	height: 35px;
	width: 330px;
	line-height: 35px;
}
.recommened-small-pic .one span:nth-of-type(2){
	background: #cc6633;
	width: 4em;
	font-size: 16px;
	display: inline-block;
	color: #ffcc66;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	margin-left: 40px;
	margin-top: 30px;
	float: left;
}
.recommened-small-pic .one span:nth-of-type(3){
	font-size: 20px;
	display: inline-block;
	height: 50px;
	width: 590px;
	line-height: 50px;
}
/*价格*/
.recommened-small-pic  span:last-child{
	font-size: 20px;
	color: #d4282d;
	display: block;
	margin-left:120px;

}
.recommened-small-pic .one span:last-child{
	font-size: 20px;
	color: #d4282d;
	display: block;
	margin-left:250px;

}
/*第一个内模块*/
/*.one li:first-child{
	height: 600px; 
}*/
/*选不中*/
/*限时购*/
.shop-backgroung{
	height: 820px;
	/*background: #ededed;*/

}
.shop-small-pic{
	width: 1610px;
	height: 575px;
	background:#f6e5d3;
	margin-left: 95px;
	margin-right: 95px; 
	overflow: hidden;
}
.shop-small-pic>li{
	width: 625px;
	height: 280px;
	/*background: #fff;*/
	margin: 5px;
	margin-left: 0;
	float: left;
}
.shop-small-pic>li:first-child{
	width: 345px;
	height: 575px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	background-image: url("../image/6.1.png");
}
.shop-small-pic>li:nth-of-type(4),.shop-small-pic>li:nth-of-type(5){
	margin-top: 0;
}
/*福利社*/
.boon-backgroung{
	height: 790px;
	background:#f4f0ea;
	overflow: hidden;
}
.two{
	width: 935px;
	height: 565px;
	background: #fff;
	margin-right: 5px;
	float: left;
}
.boon-small-pic>li:first-child{
	height: 565px;
	width: 335px;
	margin-left: 95px;
	margin-right: 0;
	float: left;
	background-image: url("../image/7.1.png");
	}
.boon-small-pic>li:last-child{
	width: 335px;
	height: 565px;
	margin-left: 0;
	background: #fff;
	float: left;
}
ul{
	padding: 0;
}
.two>ul>div{
	width: 875px;
	height: 80px;
	border-bottom: 5px solid #f4f0ea;
	margin-left: 20px;
}
.two>ul>li{
	width: 410px;
	height: 205px;
	/*background:#eed8da;*/
	float: left;
	margin-right: 35px;
	margin-left: 20px;
	margin-bottom: 35px;
}
.three ul>li{
	width: 300px;
	height: 80px;
	margin-bottom: 35px;
	background: #f6d9ed;
	margin-left: 17.5px;
}
.three ul>li:first-child{
	height: 60px;
	background: #f3dcba;
	margin-bottom: 0;
	font-size: 20px;
	color: #fff;
	line-height: 80px;
}
/*福利社标题*/
.boon-small-pic .two span:first-child{
	font-size: 20px;

	padding-top: 30px;
}
.boon-small-pic .two span:last-child{
	padding-left: 680px;
	padding-top: 35px;
}
/*家具生活*/
.home-backgroung{
	height: 1250px;
	/*background: #d6f0dd;*/
	overflow: hidden;
}
.home-backgroung .more li{
	width: 110px;
	margin-top: 65px;
	float: left;
	
}
.home-backgroung .more a{
	color: #333;
	float: right;
	display: inline-block;
	width: 100px;
}
.home-small-pic{
	content: "";
	display: block;
	clear: both;
}
.home-small-pic>li{
	height: 540px;
	width: 380px;
	background: #fff;
}
.home-small-pic>li:first-child{
	width: 1610px;
	height:530px;
	margin-left: 95px;
	background-image: url(..\image\8.1.png);
}
.home-small-pic>li:nth-of-type(2),.home-small-pic>li:nth-of-type(3),.home-small-pic>li:nth-of-type(4),.home-small-pic>li:nth-of-type(5){
	float: left;
	margin-top: 30px;
	margin-right: 30px;
}
.home-small-pic>li:nth-of-type(2){
	margin-left: 95px;
}
.home-small-pic>li:nth-of-type(5){
	margin-right: 95px;
}
.home-small-pic ul >li:first-child{
	height: 400px;
	background: #cdebeb;
}
.home-small-pic  span:first-child{
	background: #cc6633;
	display: inline-block;
	color: #fff;
	height: 35px;
	line-height: 35px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	margin-left: 120px;
	margin-top: 20px;
	float: left;
}
.home-small-pic .one span:first-child{
	background: #cc6633;
	display: inline-block;
	color: #fff;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	margin-left: 220px;
	margin-top: 30px;
	float: left;
}
/*App特惠*/
.home-small-pic  span:nth-of-type(2){
	font-size: 20px;
	display: inline-block;
	height: 35px;
	width: 330px;
	line-height: 35px;
}
.home-small-pic .one span:nth-of-type(2){
	background: #cc6633;
	width: 4em;
	font-size: 16px;
	display: inline-block;
	color: #ffcc66;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	margin-left: 40px;
	margin-top: 30px;
	float: left;
}
.home-small-pic .one span:nth-of-type(3){
	font-size: 20px;
	display: inline-block;
	height: 50px;
	width: 590px;
	line-height: 50px;
}
/*价格*/
.home-small-pic  span:last-child{
	font-size: 20px;
	color: #d4282d;
	display: block;
	margin-left:120px;

}
.home-small-pic .one span:last-child{
	font-size: 20px;
	color: #d4282d;
	display: block;
	margin-left:250px;

}

/*鞋包服饰*/
.cloth-backgroung{
	height: 1250px;
	background:#ccf1f8;
}
/*.cloth-small-pic{
	width: 1610px;
	margin-left: 95px;
	background-image: url();
	background:#fff;
	
}*/
.cloth-small-pic{
	content: "";
	display: block;
	clear: both;
}
.cloth-small-pic>li{
	height: 540px;
	width: 380px;
	background: #fff;
}
.cloth-small-pic>li:first-child{
	width: 1610px;
	height:530px;
	margin-left: 95px;
	background-image: url(..\image\8.1.png);
}
.cloth-small-pic>li:nth-of-type(2),.cloth-small-pic>li:nth-of-type(3),.cloth-small-pic>li:nth-of-type(4),.cloth-small-pic>li:nth-of-type(5){
	float: left;
	margin-top: 30px;
	margin-right: 30px;
}
.cloth-small-pic>li:nth-of-type(2){
	margin-left: 95px;
}
.cloth-small-pic>li:nth-of-type(5){
	margin-right: 95px;
}
.cloth-small-pic ul >li:first-child{
	height: 400px;
	background: #cdebeb;
}
.cloth-small-pic  span:first-child{
	background: #cc6633;
	display: inline-block;
	color: #fff;
	height: 35px;
	line-height: 35px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	margin-left: 120px;
	margin-top: 20px;
	float: left;
}
.cloth-small-pic .one span:first-child{
	background: #cc6633;
	display: inline-block;
	color: #fff;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	margin-left: 220px;
	margin-top: 30px;
	float: left;
}
/*App特惠*/
.cloth-small-pic  span:nth-of-type(2){
	font-size: 20px;
	display: inline-block;
	height: 35px;
	width: 330px;
	line-height: 35px;
}
.cloth-small-pic .one span:nth-of-type(2){
	background: #cc6633;
	width: 4em;
	font-size: 16px;
	display: inline-block;
	color: #ffcc66;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	margin-left: 40px;
	margin-top: 30px;
	float: left;
}
.cloth-small-pic .one span:nth-of-type(3){
	font-size: 20px;
	display: inline-block;
	height: 50px;
	width: 590px;
	line-height: 50px;
}
/*价格*/
.cloth-small-pic  span:last-child{
	font-size: 20px;
	color: #d4282d;
	display: block;
	margin-left:120px;

}
.cloth-small-pic .one span:last-child{
	font-size: 20px;
	color: #d4282d;
	display: block;
	margin-left:250px;

}
/*美食酒水*/
.food-backgroung{
	height: 1250px;
	background: #c7e2f7;
	overflow: hidden;
}
.food-backgroung .more li{
	width: 110px;
	margin-top: 65px;
	float: right;
	
}
.food-backgroung .more a{
	color: #333;
	float: right;
	display: inline-block;
	width: 100px;
}
.food-small-pic{
	content: "";
	display: block;
	clear: both;
}
.food-small-pic li{
	height: 540px;
	width: 380px;
	background: #fff;
}
.food-small-pic>li:first-child{
	width: 1610px;
	height:530px;
	margin-left: 95px;
}
.food-small-pic>li:nth-of-type(2),
.food-small-pic>li:nth-of-type(3),
.food-small-pic>li:nth-of-type(4),
.food-small-pic>li:nth-of-type(5){
	margin-top: 30px;
	margin-right: 30px;
	float: left;
}
.food-small-pic>li:nth-of-type(2){
	margin-left: 95px;
}
.food-small-pic>li:nth-of-type(5){
	margin-right: 95px;
}

.food-small-pic img{
	height: 540px;
	width: 380px;
}
.food-small-pic .first img{
	height: 530px;
	width: 1610px;
}
/*甄选家*/
.checked-backgroung{
	height: 750px;
	/*background: #d3d3d5;*/
	overflow: hidden;
}
.checked-backgroung .more li{
	width: 110px;
	margin-top: 65px;
	float: right;
	
}
.checked-backgroung .more a{
	color: #333;
	float: right;
	display: inline-block;
	width: 100px;
}
.checked-small-pic{
	overflow: hidden;
}
.checked-small-pic li{
	width: 580px;
	height: 275px;
	float: left;
	background: #fff;
}
.checked-small-pic li:first-child
{
	width: 1000px;
	height: 580px;
	margin-left: 95px;
	margin-right: 30px;

}
.checked-small-pic li:last-child{
	margin-top: 30px;
}
/*大家都在说*/
.chat-backgroung{
	background: #f4f0ea;
	height: 800px;
}

.chat-small-pic li{
	width:520px ;
	height: 600px;
	background: #fff;
	float: left;
}
.chat-small-pic li:first-child{
	margin-left: 95px;
	margin-right: 25px;
}
.chat-small-pic li:last-child{
	margin-left: 25px;
	margin-right: 95px;
}
.chat-small-pic img{
	width: 520px;
	height: 600px;
}
/*客服服务*/
.service{
	height: 500px;
	overflow: hidden;
	/*background: #dbf1c8;*/
	background: #fff;
}
.service >li{
		width: 530px;
		height:400px; 
		margin-top: 50px;
		margin-bottom: 50px;
		border-right: 10px solid #e8e8e8;
		/*background: #f7daaf;*/
		background: #ffffff;
		float: left;
}
.service >li:first-child{
	margin-left: 95px;

}
.service >li:last-child{
	margin-right: 95px;
	border-right: 0;
	
}
/*第一块*/
.service ul>li:first-child{
	height: 150px;
	background: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 150px;
}
.service ul::after{
	content: "";
	display: block;
	clear: both;
}
.service ul>li:nth-of-type(2),.service ul>li:nth-of-type(3){
	width: 100px;
	height: 150px;
	border: 1px solid #e8e8e8;
	float: left;
	margin-left: 50px;
}
.service ul>li:nth-of-type(2){
	margin-left: 150px;
}
.service .iconkefu,.iconfankui{
	text-align: center;
	line-height: 100px;
	color: #ededed;

}
.service .iconfont+span{
	margin-left: 20px;
}
/*第二块*/
.service li>div{
	text-align: center;
	height: 150px;
	line-height: 200px;
	font-size: 20px;
	
}
.service >li>div:nth-of-type(2){
	height: 100px;
}
.service li> div >span{
	position: relative;
	left: 100px;

}
.service .iconfont{
	font-size: 50px;
	margin-left: 30px;
}
.service .iconQQ{
	color: #9db0bf;
}
.service .iconweixin{
	color: green;
}
.service .iconweibo{
	color: red;
}

/*第三块*/

/*尾部导航*/
.foot .a{
	text-decoration-line: none;
}
.foot{
	height: 500px;
	background: #333;
	
}
.foot>div:first-child{
	overflow: hidden;
}
.foot-nav li{
	width: 402px;
	height: 200px;
	border-bottom: 5px solid #fff;
	float: left;
	padding-top: 150px;

}
.foot-nav > li a{
	display: inline-block;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	margin-left: 20px;

}

.foot-nav >li:first-child{
	margin-left: 95px;

}
.foot>div:last-child{
	content: "";
	display: block;
	clear: both;
}
.about-us::after{
	content: "";
	display: block;
	clear: both;
}
.foot-nav .iconfont {
	font-size: 100px;
	color:#fff;
}
.about-us>li{
	margin-bottom: 1em;
	margin-top: 1em;
	overflow: hidden;
	float: left;
}
.about-us >li:first-child{
	margin-left: 400px;
	}
.about-us  a{
	display: inline-block;
	width: 100px;
	text-align: center;
	line-height: 1em;
	border-right: 1px solid #fff;
	float: left;
}
.xuke li a,span{
	float: left;
	border: 0;
	float: left;
	text-align: center;
}
.xuke span{
	color: #fff;
}
.xuke li:first-child{
	margin-left: 100px;
	}
.xuke span:nth-of-type(3){
	margin-left: 600px;
}